#container, #contain_content {
  background: #fff !important; }

/* 

Cart Module Customization 

#user-summary {
	margin: 0 0 10px 0 !important;
	border: 0 !important;

	background: #fff;
	border-radius: 3px;
	box-shadow: rgba(0,0,0,.4) 0px 1px 2px;

}

*/
#contain_column1 ul li a {
  -moz-transition: background-color 100ms, color 100ms;
  -webkit-transition: background-color 100ms, color 100ms;
  -o-transition: background-color 100ms, color 100ms;
  transition: background-color 100ms, color 100ms; }

/* Shopping */
.catalog-feature {
  background: none !important; }

#shop .breadcrumbs-cont {
  border-bottom: 1px solid #ccc !important;
  padding: 0 !important;
  margin: 0 !important grw; }

#shop .breadcrumbs-cont .breadcrumbs {
  margin-bottom: 10px; }

#shop .breadcrumbs-cont .breadcrumbs li:last-child:after {
  content: ""; }

#shop h1 {
  border: 0 !important;
  border-bottom: 1px solid #ccc !important;
  padding-bottom: 5px !important;
  margin: 10px 0 25px 0 !important;
  font-weight: normal;
  font-size: 2em;
  text-transform: uppercase; }

.catalog-feature h3 {
  font-weight: 300 !important;
  display: none;
  padding-left: 10px !important; }

.catalog-popular-image {
  border-radius: 5px;
  border: 0 !important;
  padding: 4px !important; }

.catalog-feature li {
  width: 21% !important;
  margin: 0 2%;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  border-radius: 5px; }

.catalog-feature li:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 14px; }

.catalog-feature a {
  text-decoration: none; }

#product-detail {
  margin-top: 20px !important; }
  #product-detail #product-info {
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px;
    border-radius: 5px; }
    #product-detail #product-info:hover {
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 10px; }
  #product-detail #product-summary {
    margin: 30px 0; }
  #product-detail #product-photo {
    text-align: center;
    padding-left: 60px; }
    #product-detail #product-photo img {
      width: 100%; }

form input.button, form input.secondary, #main form input.secondary, #main a.secondary, #main a.secondary:visited, a.button, #main a.button {
  padding: 5px 15px !important;
  border-color: #ff9900 !important;
  border-radius: 3px;
  font-family: "Helvetica", sans-serif !important;
  font-weight: normal !important;
  text-transform: uppercase;
  font-size: .9em !important;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 12px 15px inset, rgba(0, 0, 110, 0.5) 0px 1px 5px;
  cursor: pointer; }
  form input.button:hover, form input.secondary:hover, #main form input.secondary:hover, #main a.secondary:hover, #main a.secondary:visited:hover, a.button:hover, #main a.button:hover {
    box-shadow: rgba(255, 255, 255, 0.5) 0px 12px 15px inset, rgba(0, 0, 110, 0.5) 0px 1px 10px; }
