$radius: 3px;


.contain_column2 {
	float: right;
	width:690px;
}

.main-hero {
	width: 100%;
	height: 320px;

	margin: 10px 0;
	
	border-radius: $radius;
	
	overflow: hidden;
	position: relative;
}

.annoucnement {
	width: 100%;
	height: 45px;

	margin: 10px 0;
	
	border-radius: $radius;

	position: relative;
}


.buy-books-widget {

	background: #fff;
	position: absolute; 

	border-radius: $radius - 1px;

	box-shadow: rgba(0,0,0,.2) 0px 2px 2px;

	right:15px;
	top:15px;

	width: 270px;
	padding: 7px 0px;

	font-weight: normal;

	h2 {
		padding: 9px 0;
		margin: 0 0 5px 0;
		border-bottom: 1px solid #ddd;
		font-weight: normal;

		font-size: 16px;
	}

	a.button {
		font-family: "Helvetica", "Arial", sans-serif !important;

		background: #fff;
		color:#444;
		width: 80px;

		font-size: 12px;


		padding:7px 15px;
		margin: 6px 0 0 16px;
		float:left;

		border-radius: $radius - 2px;
		border:1px solid #bbb;

		box-shadow: rgba(150,130,20,.25) 0px -5px 12px inset, rgba(0,0,0,.4) 0px 1px 1px;

		&.order {
			background: #ffd700;

			&:hover {
				background: #ffd700 + #010;
			}
		}

		&.mycsulb {
			background: #fefefe;

			&:hover {
				background: #aaa + #fff;
			}
		}
	}
}

.call-to-action {
	.item {
		width: 49%;
		height: 120px;
		background: #faa;
		border-radius: $radius;

		overflow: hidden;
	}
	.item:first-child {
		float: left;
	}

	.item:last-child {
		float: right;
	}
}

.shop-grid {
	height: auto;
	text-align: left;
	margin: 10px 0 0 0;
	padding: 50px 0 0 0;
	background: url(img/gear.jpg) top center no-repeat;

	border-radius: $radius;

	
	h2 {
		display: none;
	}

	img {
		float: left;
		margin: 10px 20px 5px 0;

		border-radius: $radius;
	}

	.catalog {
		width: 43%;
		padding: 10px 6% 3% 0;
		margin: 0 0 10px 0;



		height: 90px;
		float: right;

		text-align: left;

		h3 {
			padding:0;
			margin: 0 0 10px 0;
		}

		ul  {
			margin: 0;
			padding: 0;

			li {
				list-style: none;
				margin: 0 0 6px 0;
				padding: 0;

				a {	
					color: #333;
				}
			}
		}
	}
}