.product {
	padding: 20px 7px 20px 6px;
	box-shadow: rgba(0,0,0,.3) 0px 2px 3px;
	border-radius: 5px;

	&:hover {
		box-shadow: rgba(70,70,110,.4) 0px 2px 10px;
		
	}
	.product-name {
		margin: 23px 20px;
		font-weight: bold;
		display: block;

		text-transform: capitalize !important;

	}

	.product-price {
		display: block !important;
		font-size:1.2em !important;
	}
}
